.md-button--stretch {
    width: 100%;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.md-grid {
    max-width: none;
}
