mike @ git+https://github.com/jimporter/mike.git
mkdocs
mkdocs-glightbox
git+https://${GH_TOKEN}@github.com/squidfunk/mkdocs-material-insiders.git
mkdocs-open-in-new-tab
cairosvg
pillow
mkdocs-table-reader-plugin
