name: documentation
on:
  push:
    branches: [ master ]
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - uses: actions/cache@v2
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: sudo apt-get install -y libcairo2-dev libfreetype6-dev libffi-dev libjpeg-dev libpng-dev libz-dev
      - run: pip install -r docs/requirements.txt
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: Setup doc deploy
        run: |
          git config --global user.name vektra-bot
          git config --global user.email vektra-bot@vektra.github.io
          git fetch origin gh-pages --depth=1
      - name: Deploy docs
        run: "mike deploy --push --update-aliases $(grep VERSION mockery-tools.env | cut -d'=' -f 2 | cut -d'.' -f1-2) latest"
        env:
          GOOGLE_ANALYTICS_KEY: ${{ secrets.GOOGLE_ANALYTICS_KEY }}
