name: Reusable Go Test

on:
  workflow_call:
    inputs:
      ref:
        required: false
        type: string
        default: ""

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["macos-latest", "ubuntu-latest"]
        go_vers: ["1.22", "1.23"]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{ inputs.ref }}

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go_vers }}

      - name: Download dependencies
        run: go mod download

      - name: Test
        run: go run github.com/go-task/task/v3/cmd/task test.ci